body{
    font-family: 'Poppins', sans-serif;
    background: #000;
}
nav{
    background-color: #000;
}
.nav_head span{
    color: #fff;
}
.nav_head{
    color: #fff;
}
.nav_items a{
    color: #fff;
}
hr{
    width: 10px;
    background-color: #fff;
}
img{
    border-radius: 5px;
}
img:hover{
    transform: scale(1.1);
}
.footer-text h1{
   font-size: 15px; 
} 
.footer-text p{
    font-size: 10px;
} 
.footer-text a{
    text-decoration: none;
}
@media(max-width:450px){
    .ul-1{
        margin-top: 70px;
    }
}